<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WG-Spliter</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('startseite') }}">Startseite</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('finanz_eintrag') }}">Finanz Eintrag</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('uebersicht') }}">Übersicht Finanzen</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('archiv') }}">Archiv Mitbewohner</a></li>
            </ul>
        </div>
</nav>

<div class="container">
<style>
  h1 {color: #424242; margin-top: 60px; margin-bottom: 20px;}
  h2,h3,h4 {color: #424242; margin-top: 30px; margin-bottom: 20px;}

  .btn {margin-top: 20px;}
</style>



