{% include "header.jinja"%}

<div class="jumbotron">
    <div class="container">
        <h1>Neues Mitglied erfassen</h1>

        IM FIGMA NACH LISTEN SUCHEN / STATISTIK

    </div>
    <form method="POST">
        <div class="form-group w-50">
            <label for="name_neues_mitglied">Name Mitglied</label>
            <input type="text" class="form-control" id="name_neues_mitglied" name="name_neues_mitglied" required>
        </div>


        <br>
        <label for="name_neues_mitglied">Geschlecht</label><br>
        <input type="radio" name="gender" value="male">Male
        <br>
        <input type="radio" name="gender" value="female">Female


        <div class="row">
            <div class="input-group mb-3">

                <label for="notgood">Unverträglichkeiten</label>

                <select class="custom-select" id="notgood">
                    <option selected>wähle aus</option>
                    <option value="1">Laktose</option>
                    <option value="2">Gluten</option>
                    <option value="2">Vegi</option>
                    <option value="2">keine</option>
                </select>

            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="alter">Alter</label>
                    <input type="text" class="form-control" id="alter" name="alter" required>
                </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                    <label for="erstellt">Erstellt am</label>
                    <input type="date" class="form-control" id="erstellt" name="erstellt" required>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-primary">Neuer Mitbewohner speichern</button>
    </form>


</div>
</div>

{% include "footer.jinja"%}