{% include "header.jinja"%}


<div class="jumbotron">
    <div class="container">
        <h1>Übersicht Finanzen</h1>

        {{ barchart|safe }}


        <h4>Mit Filter suchen</h4>
        <p>ICH BIN HIER STEHEN GEBLIEBEN - SIEHE UNTER FUNKTIONEN, Def finanz_eintragege_sortieren()</p>
        <form method="POST" action="/uebersicht">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputarchiv_kategorie">Kategorie</label>
                </div>
                <select class="custom-select" id="inputarchiv_kategorie" name="inputarchiv_kategorie">
                    <option selected value="alle_einkaeufe">Alle Einkäufe</option>
                    <option value="Nebenkosten">Nebenkosten</option>
                    <option value="Wocheneinkauf">Wocheneinkauf</option>
                    <option value="Kueche">Küche</option>
                    <option value="Bad">Bad</option>
                    <option value="Divers">Divers</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputarchiv_name">Mitbewohner</label>
                </div>
                <select class="custom-select" id="inputarchiv_name" name="inputarchiv_name">
                    <option selected value="alle_mitbewohner">Alle Mitbewohner</option>
                    <option value="Tamara">Tamara</option>
                    <option value="Mara">Mara</option>
                    <option value="Gian">Gian</option>
                    <option value="Rouven">Rouven</option>
                    <option value="Linda">Linda</option>
                </select>
            </div>

            <button class="btn btn-outline-primary">Filter anwenden</button>
        </form>
    </div>

    <h4>Gefilterte Einträge:</h4>

    <div class="row">
        {% for eintrag in ergebnis %}
        <div class="card card-archiv" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ eintrag.mitbewohner }}</h5>
                <!-- es zeigt mir die Kategorien nicht getrennt und sauber an. Schöner Pro Kategorie ein eintrag :( -->
                <!-- alle Mitbewohner und alle Einkäufe funktioniert nicht :( -->
                <p class="card-text">Kategorie: {{ eintrag.typ }}</p>
                <p class="card-text">Intepret: {{ eintrag.kategorien }}</p>
                <p class="card-text">Betrag: CHF {{ eintrag.betrag }}</p>
                <p class="card-text">Erscheinungsdatum: {{ eintrag.date_gekauft }}</p>
                <!-- Einträge können nicht gelöscht werden :( -->
                <a class="btn btn-outline-primary" href="/delet/{{eintrag.id}}" role="Button">Eintrag Löschen</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "footer.jinja"%}